<div>
	<table>
		<tr>
			<td>Username: </td>
			<td><%= text_field :user, :username %></td>
		</tr>
		<tr>
		<tr>
			<td>Password: </td>
			<td><%= password_field :user, :password%></td>
		</tr>
		<tr>
			<td>Security PIN</td>
			<td><%= password_field :user, :salt %></td>
		</tr>
    	<tr>
    		<td></td>
    		<td><%= link_to 'Log In', 'admin'%></td>
    	</tr>
	</table>
</div>